*.cmd
*Bestand
JSONStream
acorn
atob
babylon
browser-pack
browserify
browserslist
color-support
deps-sort
detective
gulp
insert-module-globals
jsesc
loose-envify
miller-rabin
mime
mkdirp
module-deps
node_modules/
regjsparser
semver
sha.js
strip-bom
strip-indent
tsc
tsserver
uglifyjs
umd
undeclared-identifiers
user-home
watchify
which
ts-node
public/
